{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

  <h1>About</h1>
  <hr>
  <img class="img-thumbnail" src="{% static 'assets/aboutholder.jpg' %}" class="aligncenter"/>

  <hr>

  <p><strong>Emmaus Road</strong> is the English Ministry of <strong>KCC</strong>, the Korean Church at Cornell. Emmaus Road was called <strong>KCCE</strong> (Korean Church at Cornell English) until summer 2013.</p>
  <p>The name &#8220;Emmaus Road&#8221; refers to story in Luke 24:13-35, where Jesus appears to two disciples on the road to Emmaus after His resurrection. The logo is inspired by Luke 24:32: “Did not our hearts burn within us while he talked to us on the road, while he opened to us the Scriptures?”</p>
    
  <h2>Vision</h2>
  <p>Emmaus Road exists to spread a passion for the supremacy of God in all things through Jesus Christ. Our core values are Gospel-centered, Christ-exalting, and Bible-saturated. You can read more about our values <a href="http://emmauscornell.org/beliefs/">here</a>.</p>
  <h2>Where</h2>
  <p><strong>Sunday Service:</strong> Sunday, 10:30am at One World Room (lowest floor) in Anabel Taylor Hall.</p>
  <p><strong>Fellowship:</strong> Friday, 7pm at One World Room in Anabel Taylor Hall.</p>
  <p>&nbsp;</p>

{% endblock %}