{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

	<h1>Events</h1>

	{% if posts %}
	<h1>Events</h1>
		<div id="allposts">
		{% for post in posts %}
			<div id="entry">
				<img src="{% static 'assets/calendar.png' %}" height=35 width=35 style="margin-right:10px"><a href="{{ post.get_absolute_url }}" style="font-size:20px">{{ post.title }}</a><br>
				{% if post.summary %}
					<div id="postsum">
						{{ post.summary }}
					</div>
				{% endif %}
			</div>
		{% endfor %}
		</div>
	{% else %}
		<p>There are no events going on right now.</p>
		<p>Check back later!</p>
	{% endif %}
{% endblock %}