{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <h1>Fellowship</h1>
    <hr>
    <div class="row">
        <h3>Bible Study</h3>
        <div class="col-md-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac sodales nisi. Praesent sit amet sem non elit dapibus malesuada. Vestibulum magna tellus, tempor sit amet justo at, congue mattis arcu. Mauris auctor augue luctus enim varius imperdiet. Etiam id rhoncus ipsum, quis luctus nulla. Donec pellentesque velit justo. Cras ac purus lobortis, vehicula lorem id, suscipit eros. Aliquam erat volutpat. Maecenas vitae nisi ut ante sodales euismod. Phasellus ultricies turpis nec ligula dictum, vel vestibulum arcu malesuada. Proin lacinia rutrum ante. Vestibulum purus diam, iaculis non porttitor non, cursus sit amet neque. Mauris sit amet erat sit amet lectus tristique ornare tincidunt id est. Integer finibus velit tellus, sed blandit lacus vehicula vitae.
            <br><br>
            <img style="display:block; max-height:300px; margin-left:auto; margin-right:auto;" src="{% static 'assets/biblestudy.jpg' %}">
        </div>
    </div>
    
    <br>
    <hr>

    <div class="row">
        <h3>Prayer Meeting</h3>
        <div class="col-md-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac sodales nisi. Praesent sit amet sem non elit dapibus malesuada. Vestibulum magna tellus, tempor sit amet justo at, congue mattis arcu. Mauris auctor augue luctus enim varius imperdiet. Etiam id rhoncus ipsum, quis luctus nulla. Donec pellentesque velit justo. Cras ac purus lobortis, vehicula lorem id, suscipit eros. Aliquam erat volutpat. Maecenas vitae nisi ut ante sodales euismod. Phasellus ultricies turpis nec ligula dictum, vel vestibulum arcu malesuada. Proin lacinia rutrum ante. Vestibulum purus diam, iaculis non porttitor non, cursus sit amet neque. Mauris sit amet erat sit amet lectus tristique ornare tincidunt id est. Integer finibus velit tellus, sed blandit lacus vehicula vitae.
            <br><br>
            <img style="display:block; max-height:300px; margin-left:auto; margin-right:auto;" src="{% static 'assets/prayermeeting.jpg' %}">
        </div>
    </div>

    <br>
    <hr>

    <div class="row">
        <h3>Accountability Groups</h3>
        <div class="col-md-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac sodales nisi. Praesent sit amet sem non elit dapibus malesuada. Vestibulum magna tellus, tempor sit amet justo at, congue mattis arcu. Mauris auctor augue luctus enim varius imperdiet. Etiam id rhoncus ipsum, quis luctus nulla. Donec pellentesque velit justo. Cras ac purus lobortis, vehicula lorem id, suscipit eros. Aliquam erat volutpat. Maecenas vitae nisi ut ante sodales euismod. Phasellus ultricies turpis nec ligula dictum, vel vestibulum arcu malesuada. Proin lacinia rutrum ante. Vestibulum purus diam, iaculis non porttitor non, cursus sit amet neque. Mauris sit amet erat sit amet lectus tristique ornare tincidunt id est. Integer finibus velit tellus, sed blandit lacus vehicula vitae.
            <br><br>
            <img style="display:block; max-height:300px; margin-left:auto; margin-right:auto;" src="{% static 'assets/accountabilitygroup.jpg' %}">
        </div>
    </div>


{% endblock %}