{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    

    <div class="row">
        <div class="col-md-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac sodales nisi. Praesent sit amet sem non elit dapibus malesuada. Vestibulum magna tellus, tempor sit amet justo at, congue mattis arcu. Mauris auctor augue luctus enim varius imperdiet. Etiam id rhoncus ipsum, quis luctus nulla. Donec pellentesque velit justo. Cras ac purus lobortis, vehicula lorem id, suscipit eros. Aliquam erat volutpat. Maecenas vitae nisi ut ante sodales euismod. Phasellus ultricies turpis nec ligula dictum, vel vestibulum arcu malesuada. Proin lacinia rutrum ante. Vestibulum purus diam, iaculis non porttitor non, cursus sit amet neque. Mauris sit amet erat sit amet lectus tristique ornare tincidunt id est. Integer finibus velit tellus, sed blandit lacus vehicula vitae.
        </div>
    </div>
    <br>
    <hr>
    <br>

        <div class="col-md-4" style="text-align: center; vertical-align: middle;">
            <h3 style="margin-top: 0">Current Events</h3>
            {% if posts %}
                {% for post in posts %}
                    <a href="{{ post.get_absolute_url }}" style="display: inline-block; margin-bottom: 10px">{{ post.title }}</a><br>
                {% endfor %}
                <a href="/events">See the rest of our events here!</a>
            {% else %}
                <p>Nothing going on right now!</p>
                <p>Check again later!</p>
            {% endif %}
        </div>
        <div class="col-md-8">
            <h3 style="margin-top: 0">Join Us!</h3>
            <h4>Anabel Taylor Hall basement</h4>
            <h4>Sundays, 10:30am</h4>
            <div id="map"></div>
            <br>
        </div>

{% endblock %}