<html>
    <head>
        <title>{% block head_title %}Emmaus Road | Korean Church at Cornell English Ministry{% endblock %}</title>
    </head>
    <body>
    	<div id="container">
    		<div id="banner">
    			Emmaus Road - Korean Church at Cornell English Ministry
    		</div>
    		
    		<div id="navbar">
    			Home, About, Ministries, Beliefs, Sermon, Contact
    		</div>

    		<div id="content">
    			{% block content %}

    			{% endblock %}
    		</div>

    		<div id="footer">
    			Made by Jim
    		</div>
	    </div>
    </body>
</html>