{% extends 'base.html' %}

{% block content %}

    <h1>Beliefs</h1>
    <hr>
    <h2>Vision</h2>
	<p>Emmaus Road exists to spread a passion for the supremacy of God in all things through Jesus Christ.</p>
	<ul>
		<li><strong>To spread a passion:</strong> We want to spread a passion to the nations who do not know God and Christ through preaching and living the gospel so that the nations might worship Him.</li>
		<li><strong>The supremacy of God in all things:</strong> “Therefore you are great, O Lord God. For there is none like you, and there is no God besides you, according to all that we have heard with our ears (2 Samuel 7:22).” We seek to make Christ supreme above all things and thus give Him glory. “So, whether you eat or drink, or whatever you do, do all to the glory of God (1 Corinthians 10:31).”</li>
		<li><strong>Through Jesus Christ:</strong> The gospel of Jesus Christ, as Paul puts it, is “the power of God unto salvation (Romans 1:16).” We believe that the gospel of Jesus Christ is the hope for this world, this city, and this campus.</li>
		<li><strong>Where is the Holy Spirit?</strong> We believe that the Spirit of God empowers us to fulfill our vision statement.</li>
	</ul>

	<h2>Core Values</h2>
	<p><strong>Gospel-centered.</strong> We value the gospel because it is the power of God for salvation to those who believe on Jesus Christ (Romans 1:16). The gospel also gives the power to daily live the Christian life in a real, dynamic, supernatural, Spirit-wrought way by transforming us to the image of Jesus Christ.</p>
	<p><strong>Christ-exalting.</strong> We value the work and the person of the infinitely valuable Jesus Christ — His life, His death, and His resurrection. The death of Christ is the pinnacle of God’s redemptive history and God’s glory fully manifested and magnified in history.</p>
	<p><strong>Bible-saturated.</strong> We value the revelation of the Triune God in a book inspired by God through the Holy Spirit. We seek to know and to be permeated by His inerrant, infallible Word in the Old and New Testament.</p>
	
	<h2>Doctrine</h2>
	<p>We accept the Scriptures as our authority in matters of faith and practice and adopt the following Statement of Faith (from the <a href="http://www.reformed.org/documents/wcf_with_proofs/">Westminster Standards</a>):</p>
	<p>I. We believe the Scriptures of the Old and New Testament as being verbally inspired by God and inerrant and infallible in the original writings, and that they are of supreme and final authority.</p>
	<p>“All Scripture is God-breathed and is useful for teaching, rebuking, correcting and training in righteousness.” (2 Timothy 3:16)</p>
	<p>II. We believe in one God eternally existing in one essence, yet three coequal persons, the Trinity: Father, Son, and Holy Spirit (Matthew 28).</p>
	<p>III. We believe that Jesus Christ was begotten by God, conceived by the Holy Spirit, and born to the virgin Mary (Matthew 1).</p>
	<p>IV. We believe in the Holy Spirit, the third person of the Trinity, Who convicts the world of sin, righteousness, and judgment. He empowers the preaching of the gospel and reveals and applies the Scriptures to believers.</p>
	<p>V. We believe that mankind was created in the image of God, sinned, and thereby incurred not only physical death, but also spiritual death, which is separation from God, and that all human beings are born with a sinful nature (Gen 3; Romans 3:10-18).</p>
	<p>VI. We believe that the Lord Jesus Christ died for our sins according to the Scriptures as a representative and substitutionary sacrifice, and that all who believe in Him are justified on the basis of His shed blood.</p>
	<p>VII. We believe in the resurrection of the crucified body of our Lord, His ascension into heaven, and His present life there as High Priest and Advocate for us.</p>
	<p>VIII. We believe in the blessed hope, which is the personal, visible, and imminent return of our Lord and Savior, Jesus Christ (1 Thess).</p>
	<p>IX. We believe that all who are born again by the Holy Spirit and by faith in the Lord Jesus Christ call in Him for salvation, and thereby become children of God and heirs of eternal life. We believe that salvation is through grace alone, by faith alone, in Christ alone to the glory of God alone.</p>
	<p>“For it is by grace you have been saved, through faith — and this is not from yourselves, it is the gift of God — not by works, so that no one can boast.” (Ephesians 2:8-9)</p>
	<p>X. We believe in the bodily resurrection of the just and the unjust, the everlasting conscious suffering of the lost in hell, and the fellowship of the saved in heaven.</p>
	<p>“Multitudes who sleep in the dust of the earth will awake: some to everlasting life, others to shame and everlasting contempt.” (Daniel 12:2)</p>
	<p>XI. We believe in the existence of a personal devil, who is still working in the world to destroy the souls of men, and that he and all his angels and all who do not receive Christ as their Savior and Lord will eternally perish in the lake of fire (Revelation 20).</p>
	<p>XII. We believe in the universal and local Church, whose mission it is to preach the Scriptures, all of its endeavors being guided by Elders and supported by God’s people.</p>
	<p>XIII. We believe that the ordinances of the Church, given by our Lord, are Baptism and the Lord’s Table (Communion).</p>
	<p>XIV. We believe that the foregoing are Biblical doctrines, therefore, we stand firm upon this Statement of Faith.</p>
    
{% endblock %}