{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    
<!--     <div id="banner">
        <img style="object-fit: scale-down;" src="{% static 'assets/placeholderold.jpg' %}">
    </div> -->
    <div class="row">
        <div class="col-md-4">
            <a href="/fellowship"><img style="max-height: 100%; max-width: 100%;" class="img-thumbnail" src="{% static 'emmaus/assets/emmausbb.png' %}"></a>
        </div>
        <div class="col-md-4">
            <a href="/mission"><img style="max-height: 100%; max-width: 100%" class="img-thumbnail" src="{% static 'emmaus/assets/emmausmt.png' %}"></a>
        </div>
        <div class="col-md-4">
            <a href="/sermon"><img style="max-height: 100%; max-width: 100%" class="img-thumbnail" src="{% static 'emmaus/assets/emmaussm.png' %}"></a>
        </div>
    </div>
    <br>
    <hr>
    <br>

    <div class="row">
        <div class="col-md-4" style="text-align: center; vertical-align: middle;">
            <h3 style="margin-top: 0">Current Events</h3>
            {% if posts %}
                {% for post in posts %}
                    <a href="{{ post.get_absolute_url }}" style="display: inline-block; margin-bottom: 10px">{{ post.title }}</a><br>
                {% endfor %}
                <a href="/events">See the rest of our events here!</a>
            {% else %}
                <p>Nothing going on right now!</p>
                <p>Check again later!</p>
            {% endif %}
        </div>
        <div class="col-md-8">
            <h3 style="margin-top: 0">Join Us!</h3>
            <h4>Anabel Taylor Hall basement</h4>
            <h4>Sundays, 10:30am</h4>
            <div id="map"></div>
            <br>
        </div>
    </div>

{% endblock %}