{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <h1>Mission Trips</h1>
    <hr>
    <br>
    <br>

    <div id="dr">
        <ul>
            <li><button id="button16" type="button" onclick="switch16()" class="drButton current">DR 2016</button></li>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <li><button id="button15" type="button" onclick="switch15()" class="drButton">DR 2015</button></li>
        </ul>
    </div>

    <hr>

    <div id="dr16">
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="pop"><img style="max-height: 100%; max-width: 100%;" class="img-thumbnail" src="{% static 'emmaus/assets/DR16/team.jpg' %}"></a>
            </div>
            <div class="col-md-4">
                <a href="#" class="pop"><img style="max-height: 100%; max-width: 100%;" class="img-thumbnail" src="{% static 'emmaus/assets/DR16/pastorgroup.jpg' %}"></a>
            </div>
            <div class="col-md-4">
                <a href="#" class="pop"><img style="max-height: 100%; max-width: 100%;" class="img-thumbnail" src="{% static 'emmaus/assets/DR16/fullgroup.jpg' %}"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="pop"><img style="max-height: 100%; max-width: 100%;" class="img-thumbnail" src="{% static 'emmaus/assets/DR16/smile.jpg' %}"></a>
            </div>
            <div class="col-md-4">
                <a href="#" class="pop"><img style="max-height: 100%; max-width: 100%;" class="img-thumbnail" src="{% static 'emmaus/assets/DR16/gary.jpg' %}"></a>
            </div>
            <div class="col-md-4">
                <a href="#" class="pop"><img style="max-height: 100%; max-width: 100%;" class="img-thumbnail" src="{% static 'emmaus/assets/DR16/prayer.jpg' %}"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="pop"><img style="max-height: 100%; max-width: 100%;" class="img-thumbnail" src="{% static 'emmaus/assets/DR16/bible.jpg' %}"></a>
            </div>
            <div class="col-md-4">
                <a href="#" class="pop"><img style="max-height: 100%; max-width: 100%;" class="img-thumbnail" src="{% static 'emmaus/assets/DR16/kids.jpg' %}"></a>
            </div>
            <div class="col-md-4">
                <a href="#" class="pop"><img style="max-height: 100%; max-width: 100%;" class="img-thumbnail" src="{% static 'emmaus/assets/DR16/py.jpg' %}"></a>
            </div>
        </div>
    </div>

    <div id="dr15" style="display:none">
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="pop"><img style="max-height: 100%; max-width: 100%;" class="img-thumbnail" src="{% static 'emmaus/assets/DR15/front.jpg' %}"></a>
            </div>
            <div class="col-md-4">
                <a href="#" class="pop"><img style="max-height: 100%; max-width: 100%;" class="img-thumbnail" src="{% static 'emmaus/assets/DR15/walk.jpg' %}"></a>
            </div>
            <div class="col-md-4">
                <a href="#" class="pop"><img style="max-height: 100%; max-width: 100%;" class="img-thumbnail" src="{% static 'emmaus/assets/DR15/baptism.jpg' %}"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="pop"><img style="max-height: 100%; max-width: 100%;" class="img-thumbnail" src="{% static 'emmaus/assets/DR15/playground.jpg' %}"></a>
            </div>
            <div class="col-md-4">
                <a href="#" class="pop"><img style="max-height: 100%; max-width: 100%;" class="img-thumbnail" src="{% static 'emmaus/assets/DR15/playground2.jpg' %}"></a>
            </div>
            <div class="col-md-4">
                <a href="#" class="pop"><img style="max-height: 100%; max-width: 100%;" class="img-thumbnail" src="{% static 'emmaus/assets/DR15/ball.jpg' %}"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="pop"><img style="max-height: 100%; max-width: 100%;" class="img-thumbnail" src="{% static 'emmaus/assets/DR15/read.jpeg' %}"></a>
            </div>
            <div class="col-md-4">
                <a href="#" class="pop"><img style="max-height: 100%; max-width: 100%;" class="img-thumbnail" src="{% static 'emmaus/assets/DR15/teach.jpg' %}"></a>
            </div>
            <div class="col-md-4">
                <a href="#" class="pop"><img style="max-height: 100%; max-width: 100%;" class="img-thumbnail" src="{% static 'emmaus/assets/DR15/learn.jpeg' %}"></a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" data-dismiss="modal">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <img src="" id="imagepreview" style="max-width:800px;" >
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}